* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    line-height: 1.6;
    background-color: #f0d5d5;
    color: #1f1e1e;
}
